/*Utilities*/

.gray-dark {
	background-color: #3b444b;
}

.gray-medium {
	background-color: #62676b;
}

.gray-green {
	background-color: darkslategray;
}

.gray-soft {
	background-color: #bac7b6;
}

.gold {
	background-color: #f8c50f;
}

input[type="button"],
button {
	border-radius: 50%;
	border-style: none;
	width: 19%;
	height: 21%;
	margin: 2%:auto;
	color: white;
	font-weight: 800;
	font-size: 15px;
}

button:focus,
input:focus {
	outline: none;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%
}

.flex-content {
	vertical-align: middle;
	width: 280px;
}

.head {
	height: 80px;
	border-top-left-radius: 44px;
	border-top-right-radius: 44px;
}
